{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'orders/css/order_form_style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/form_style.css' %}"/>
{% endblock %}

{% block content %}
<div class="form">
    <div class="wrapper">
        <div class="form-items">
            <h2>Create order on advertising space</h2>
            <form action="#" method="post">
                {% csrf_token %}
                <h3>General information</h3>
                <div class="form-item-container">
                    <label for="{{ order_item_form.date_from.id_for_label }}">
                        {{ form.date_from.label }}
                    </label>
                    {{ form.date_from }}
                    {{ form.date_from.error|escape }}

                    <label for="{{ order_item_form.date_to.id_for_label }}">
                        {{ form.date_to.label }}
                    </label>
                    {{ form.date_to }}
                    {{ form.date_to.error|escape }}

                    <label for="{{ order_item_form.price.id_for_label }}">
                        {{ form.price.label }}
                    </label>
                    {{ form.price }}
                    {{ form.price.error|escape }}
                </div>

                <div class="button-holder">
                    <input type="submit" value="Create order">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}