body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #333333;
}

.wrapper{
    width: 1140px;
    margin: 0 auto;

    position: relative;
}

.page{
    display: flex;
    height: calc(100vh - 100px);
}

.content{
    width: calc(100vw - 388px);
}

.adv-spaces-item{
    margin: 0 auto;
    width: 1000px;
    cursor: pointer;
    padding: 15px;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
}

.adv-spaces-item-right{
    flex: 1 1 auto;
}

.adv-spaces-item-right-head{
    display: flex;
    justify-content: space-between;
}

.adv-spaces-item-right p{
    margin-top: 0;
}

.content{
    display: flex;
    flex-direction: column;
}

#add-adv-space{
    border-radius: 20px;
    background-color: #C887E3;
    font-size: 22px;
    color: white;
    padding: 15px 28px;
    align-self: center;
}