{% extends 'base.html' %}
{% load static %}
{% load advertisements_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'advertisements/css/adv-space-style.css' %}"/>
{% endblock %}

{% block content %}
<div id="delete-div">
    <div class="delete-div-items">
        <p>Are you sure you want to delete?</p>
        <div class="button-holder">
            <a href="{% url 'delete_adv_space' adv_space.id %}">Delete</a>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="wrapper">
        <div class="content">
            <div class="images-with-info">
                <div class="images-with-info-items">
                    <div class="images container">
                        <div class="images-items">
                            <div class="adv-space-image">
                                <img src="{{ MEDIA_URL }}{{ adv_space.get_image.image }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="info container">
                        <div class="info-items">
                            <h1 class="title">{{ adv_space.title }}</h1>
                            <h2 class="price">{{ adv_space.price }}</h2>
                            <div class="description">{{ adv_space.description }}</div>
                            <div class="general-info">
                                <div class="user-type">
                                    <span>{{ adv_space.user.user_type }}</span>
                                </div>
                                <div class="category">
                                    <span>Category: {{ adv_space.advertising_space_category }}</span>
                                </div>
                                <div class="car-model">
                                    <span>Car model: {{ adv_space.data|get_data_from_json:"car_model" }}</span>
                                </div>
                                <div class="car-type">
                                    <span>Car type: {{ adv_space.data|get_data_from_json:"car_type" }}</span>
                                </div>
                                <div class="car-year">
                                    <span>Production year: {{ adv_space.data|get_data_from_json:"prod_year" }}</span>
                                </div>
                                <div class="car-place">
                                    <span>
                                        Place for advertising space: {{ adv_space.data|get_data_from_json:"adv_place" }}
                                    </span>
                                </div>
                            </div>
                            <div class="date-created">Date created: {{ adv_space.date_created|date:"d-m-Y" }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-with-buttons">
                <div class="contact-with-buttons-items">
                    <div class="contact container">
                        <div class="contact-items">
                            <div class="user-items">
                                <div class="user-image">
                                    <img src="../image/user-icon.png" alt="">
                                </div>
                                {% if user.user_type.name == 'person' %}
                                <div class="user-info">
                                    <h2 class="user-name">{{ person.first_name }} {{ person.last_name }}</h2>
                                    <div class="user-date-enter">On AdvSpaces from {{ user.date_joined|date:"d-m-Y" }}
                                    </div>
                                    <div class="user-last-login">
                                        Last login {{ user.last_login|date:"d-m-Y" }} {{ user.last_login|time:"H:i" }}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if adv_space.user == user %}
                    <div class="creator-buttons">
                        <div class="creator-buttons-items">
                            <div class="button-holder">
                                <a href="#" type="button" id="edit">Edit</a>
                            </div>
                            <div class="button-holder">
                                <a href="#" type="button" id="hide">Hide</a>
                            </div>
                            <div class="button-holder">
                                <a href="#" type="button" id="delete">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
