<div class="form">
    <div class="wrapper">
        <div class="form-items">
            <h2>{{ action }} advertising space</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>General information</h3>
                <div class="form-item-container">
                    {% for field in adv_space_form %}
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="errorlist">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

                <h3>Images</h3>
                <div class="form-item-container">
                    {{ adv_space_images_formset.as_p }}
                </div>

                <!--                <h2>Personal information</h2>-->
                <!--                <div class="add-form-item-container">-->
                <!--                    <label for="email">Email</label>-->
                <!--                    <input type="email" id="email" name="adv_email">-->

                <!--                    <label for="category">Phone number</label>-->
                <!--                    <input type="tel" id="phone" name="adv_phone">-->
                <!--                </div>-->

                <div class="button-holder">
                    <input type="submit" value="{{ action }} advertising space">
                </div>
            </form>
        </div>
    </div>
</div>