{% extends 'base.html' %}
{% load static %}
{% load generic_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'advertisements/css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'advertisements/css/glider-css.css' %}"/>
{% endblock %}

{% block content %}
<div class="banner">
    <div class="wrapper">
        <div class="banner-items">
            <div class="banner-left">
                <h1 class="banner-title">
                    Advertising space<br/>is the service for placing<br/>your
                    advertisement
                </h1>
                <p class="banner-text">
                    We helps people and companies<br/>to cooperate in questions of
                    finding<br/>and placing advertisings
                </p>
                <a href="{% url 'add_adv_space' %}" type="button">Begin work with us</a>
            </div>
            <img src="{% static 'advertisements/image/banner-image.png' %}" class="banner-image" alt="banner image "/>
        </div>
    </div>
</div>
<div class="triggers">
    <div class="wrapper">
        <div class="triggers-items">
            <div class="triggers-title">
                <h2>Why you should choose us</h2>
            </div>
            <div class="triggers-elems">
                <div class="triggers-elem triggers-elem-01">
                    <img src="{% static 'advertisements/image/trigger-1-icon.png' %}"
                         class="triggers-image triggers-elem-image" alt="">
                    <div class="triggers-elem-text">
                        <span class="triggers-elem-title">Everything in one place</span>
                        <span class="triggers-elem-desc">Find ad space and rent your ad space with one
                                service</span>
                    </div>
                </div>
                <div class="triggers-elem triggers-elem-02">
                    <img src="{% static 'advertisements/image/trigger-2-icon.png' %}"
                         class="triggers-image triggers-elem-image" alt="">
                    <div class="triggers-elem-text">
                        <span class="triggers-elem-title">It is comfortable</span>
                        <span class="triggers-elem-desc">Ad placement has never been easier</span>
                    </div>
                </div>
                <div class="triggers-elem triggers-elem-03">
                    <img src="{% static 'advertisements/image/trigger-3-icon.png' %}"
                         class="triggers-image triggers-elem-image" alt="">
                    <div class="triggers-elem-text">
                        <span class="triggers-elem-title">Saves you time</span>
                        <span class="triggers-elem-desc">Don't waste time looking for a client, just place your
                                ad and he will find you himself.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="catalog">
    <div class="wrapper">
        <div class="catalog-items">
            <div class="catalog-title">
                <h2>Catalog of advertising spaces</h2>
            </div>
            <div class="catalog-buttons">
                <button class="catalog-button-selected">All</button>
                <button class="catalog-button">Cars</button>
            </div>
            <div class="glider-contain">
                <div class="catalog-cards glider">
                    {% for adv_space in adv_spaces %}
                    <div class="catalog-card">
                        <div class="catalog-card-items">
                            {% if adv_space.get_image.image %}
                                <img src="{{ MEDIA_URL }}{{ adv_space.get_image.image }}" alt="">
                            {% else %}
                                <img src="{% static 'image/no-img.png' %}" alt="">
                            {% endif %}
                            <span class="catalog-card-title">{{ adv_space.title|truncatechars:15 }}</span>
                            <span class="catalog-card-desc">Price: {{ adv_space.price }}</span>
                            <a href="{{ adv_space.get_absolute_url }}" type="button" class="catalog-card-button">Show</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="catalog-buttons-slider">
                <span class="catalog-button-prev"></span>
                <div class="glider-dots" id="dots"></div>
                <span class="catalog-button-next"></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js"
        integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'advertisements/script/script.js' %}"></script>
{% endblock %}