body{
    background: linear-gradient(90deg, rgba(200,135,227,1) 0%, rgba(241,137,137,1) 100%);
}

a{
    text-decoration: none;
    color: #333333;
}

h2{
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

label{
    font-size: 22px;
}


.login-form{
    margin-top: 75px;
}

.login-form-container{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form-items{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 65px;
    font-size: 20px;
    align-items: center;
}

.login-form-items form{
    display: flex;
    flex-direction: column;
}

.login-form-items input{
    border-radius: 10px;
    padding: 5px;
    font-size: 22px;
    width: 420px;
    align-items: center;
    margin-bottom: 10px;
}

.login-form-items input[type='submit']{
    width: fit-content;
    margin: 30px 0 0 0;
    border-radius: 50px;
    border: none;
    background-color: #C887E3;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
    align-self: center;
    cursor: pointer;
}


