select{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#title, #email, #category, #model, #year, #type, #place, #description{
    margin-bottom: 10px;
    font-size: 22px;
}

#title, #description{
    width: 700px;
}

#email, #model{
    width: 500px;
}

#phone, #category, #type, #place{
    width: 300px;
}

#year, #price{
    width: 160px;
}

#description{
    resize: none;
}

input[type='text'], [type='email'], [type='tel'], [type='number'], textarea{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 22px;
    padding: 5px;
}