{% extends 'base.html' %}
{% load static %}
{% load generic_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/user-login-style.css' %}">
{% endblock %}

{% block content %}
<div class="login-form">
        <div class="wrapper">
            <div class="login-form-container">
                <div class="login-form-items">
                    <h2>Login</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for form_field in form %}
                            <label>{{ form_field.label }}</label>
                            {{ form_field }}
                        {% endfor %}
                        <input type="submit" value="Sign in">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}