{% extends 'base.html' %}
{% load static %}
{% load users_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/user-cabinet-navigation-style.css'%}">
<link rel="stylesheet" href="{% static 'users/css/user-cabinet-adv-spaces-style.css'%}">
{% endblock %}

{% block content %}
{% show_cabinet_navigation 0 %}
{% if adv_spaces %}
<div class="adv-spaces">
    <div class="wrapper">
        <div class="adv-spaces-items">
            {% for adv_space in adv_spaces %}
            <div class="adv-spaces-item" onclick="location.href='{{ adv_space.get_absolute_url }}';">
                {% if adv_space.get_image.image %}
                <img src="{{ MEDIA_URL }}{{ adv_space.get_image.image }}" alt="">
                {% else %}
                <img src="{% static 'image/no-img.png' %}" alt="">
                {% endif %}
                <div class="adv-spaces-item-right">
                    <div class="adv-spaces-item-right-head">
                        <h3>{{ adv_space.title }}</h3>
                        <h3>{{ adv_space.price }}</h3>
                    </div>
                    <p>{{ adv_space.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<h2>You have no advertising spaces yet.</h2>
{% endif %}
<div class="button-holder">
    <a href="{% url 'add_adv_space' %}" type="button">Add advertising space</a>
</div>
{% endblock %}

