{% extends 'base.html' %}
{% load static %}
{% load generic_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user-cabinet-sidebar-style.css'%}">
<link rel="stylesheet" href="{% static 'users/css/user-cabinet-adv-spaces-style.css'%}">
{% endblock %}

{% block content %}
<div class="page">
    {% show_sidebar user %}
    <div class="content">
        {% if not adv_spaces %}
            <div class="no-adv-spaces">
                <h1>You have no advertising space yet.</h1>
            </div>
        {% else %}
        <div class="adv-spaces">
            <div class="adv-spaces-items">
                {% for adv_space in adv_spaces %}
                    <div class="adv-spaces-item" onclick="location.href='#';">
                        <img src="{{ MEDIA_URL }}{{ adv_space.get_image.image }}" alt="">
                        <div class="adv-spaces-item-right">
                            <div class="adv-spaces-item-right-head">
                                <h3>{{ adv_space.title }}</h3>
                                <h3>{{ adv_space.price }}</h3>
                            </div>
                            <p>{{ adv_space.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="button-holder">
            <a href="{% url 'add_adv_space' %}" type="button" id="add-adv-space">Add advertising space</a>
        </div>
    </div>
</div>
{% endblock %}

