{% extends 'base.html' %}
{% load static %}
{% load generic_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/user-authentication-style.css' %}">
<link rel="stylesheet" href="{% static 'css/form_style.css' %}"/>
{% endblock %}

{% block content %}
<div class="form">
    <div class="wrapper">
        <div class="form-items">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <!--Show errors-->
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Sign in">
            </form>
        </div>
    </div>
</div>
{% endblock %}