{% extends 'base.html' %}
{% load static %}
{% load generic_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/user-authentication-style.css' %}">
<link rel="stylesheet" href="{% static 'css/form_style.css' %}"/>
{% endblock %}

{% block content %}
<div class="form">
    <div class="wrapper">
        <div class="form-items">
            <h2>Registration</h2>
            <form method="post">
                {% csrf_token %}
                <!--Form for data connected with User model-->
                {% for field in user_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    <!--Show errors-->
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                {% endfor %}

                <!--Form for data connected with Person model-->
                {% for field in person_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    <!--Show errors-->
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                {% endfor %}
                <input type="submit" value="Sign up">
            </form>
        </div>
    </div>
</div>
{% endblock %}